{% extends "base.html.twig" %}
{% block title %}Symphart Articles{% endblock %}
{% block body %}
   {% if articles %}
       <table id="articles" class="table table-striped">
           <thead>
               <tr>
                   <th>Article tytle</th>
                   <th>Actions</th>
               </tr>
               <tbody>
                   {% for article in articles %}
                       <tr>
                            <td>{{ article.title }}</td>
                            <td>
                                <a href="/article/{{ article.id }}"class="btn btn-dark">Show</a>
                                <a href="/article/edit/{{ article.id }}"class="btn btn-dark">Edit</a>
                                <a href="/"class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                                
                            </td>
                       </tr>
                   {% endfor %}
               </tbody>
           </thead>
       </table>
   {% else %}
       <p>No articles to display</p>
   {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}